.demoForm {
    width: 575px;
    margin: auto;
}

.borderStyle {
    background-color:white;

    /*border-color: #FABC60;*/
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 20px;

}

.backgroundImage {
    background-image: url("../images/sliit.jpg");
    height: 1000px;
}

.backgroundImageWithMargin {
    background-image: url("../images/sliit.jpg");
    height: 1000px;
    margin-left: 1%;
    margin-top: 0%;
    margin-right: 1%;
    margin-bottom: 2%;
}

.TextAlign{
    text-align: center;

}

.tableDisplay{
    background-color: white;
}

.backgroundImageWithMarginInstructor {
    background-image: url("../images/instructor.jpg");
    height: 1000px;
    margin-left: 1%;
    margin-top: 0%;
    margin-right: 1%;
    margin-bottom: 2%;
}

.backgroundImageWithMarginStudent {
    background-image: url("../images/student.jpg");
    height: 1000px;
    margin-left: 1%;
    margin-top: 0%;
    margin-right: 1%;
    margin-bottom: 2%;
}