.LogoImage{
    float: left;
}

.Text {
    float: right
}

.Header {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%
}

.Menubar{
    margin-left: 1%;
    margin-right: 1%;
    font-size: larger;
    color: white;
    /*background-color: #3a454b;*/
    background-color: #2a2464;

}

.Link {
    color: white;
    text-underline: none;
}